/*====PRODUCT SECTION====*/
.product-nav{
    width: 100%;
    background-color: #ffffff;
    height: 50px;
    display: flex;
    align-items: center;

    span{
        font-size: 1.5rem;
        display: flex;
        margin-left: 0.875rem;

        p{
          font-size: 1.5rem;
        }
        a{
          font-size: 1.5rem;
          color: #777;
        }
    }
}
.product-section{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}
.product-showcase-container{
    width: 100%;
    overflow: hidden;
    padding: 1rem 0;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--space-md);
    .product-showcase{
        width: 100%;
        position: relative;

        .product-showcase-cards{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: var(--space-xl);

            .showcase-cards{
                display: flex;
                flex-direction: column;
                align-items: center;
                transition:cubic-bezier(0.075, 0.82, 0.165, 1);
                background-color: #ffffff;
                border: solid 2px #f5f1f1;
                max-width: 250px;
                padding: 2rem 0;
                position: relative;

               img{
                width: 100%;
               }
               p{
                position: absolute;
                background-color: #fefefe;
                display: block;
                bottom: 5px;
                font-size: var(--font-size-xl);
                color: #010101;
               }
            }
        }
    }
}
.left-section{
    width: 100%;
    display: flex;
    flex-direction: column;
}    
.product-content{
    display: flex;
    gap: 2rem;
    width: 100%;
    position: relative;
    
}
.product-content-left{
    flex-basis: 25%;
    height: 100%;

    .product-left-cards{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
        .container-card{
            display:flex;
            flex-direction: column;
            width: 90%;
            margin: 0 auto;
        
        }
    /*=====PRODUCT  CARD  NAV GENERAL STYLE=====*/
    .product-card-nav{
        display: block;
        position: relative;
        margin-bottom: var(--space-md);
    
        h1{
         font-size: var(--font-size-xl);
         color: #777;
         padding: 1rem 0;
        }
        h1::after{
         content: '';
         display: block;
         width: 5rem;
         height: 1px;
         background-color: var(--tertiary-color);
         position: absolute;
         bottom: 0;
         font-weight: bold;
        }

    }
     /*=====PRODUCT  CARD  GENERAL STYLE=====*/
    .product-card{
        display: flex;
        flex-direction: column;
        width: 100%;       
        background-color: #ffffff;
        margin-bottom: 1rem;

       /*=====PRODUCT  CARD 1=====*/
       .product-list{
         line-height: 2rem;
         
    
          li>a{
             font-size: var(--font-size-md);
             color: var(--common-color);
            }
        }
        .left-card-nav{
                display: flex;
                justify-content: space-between;
                margin-top: var(--space-xxl);
                line-height: var(--space-md);
                
                p{
                    color: var(--common-color);
                    font-size: var(--font-size-xl);
                }
                button{
                    border: none;
                    font-size: var(--font-size-xl);
                    background-color: transparent;
                }
            }
        /*=====PRODUCT  CARD 2=====*/
        .filter{
            display: flex;
            flex-direction: column;
            line-height: 2rem;
            font-size: var(--font-size-md);
            
            
              
            .availability{
                display: flex;
                flex-direction: column;
                padding-bottom: var(--space-xl);
                border-bottom: solid 1px #cec8c8;
                
                span{
                    display: flex;
                    gap: var(--space-sm);
                    
                    a{
                        color: var(--common-color);
                    }
                }
        
            }
            .price{
                display: flex;
                flex-direction: column;
                padding-bottom: var(--space-xxl);
                border-bottom: solid 1px #cec8c8;
                line-height: var(--space-xxl);
                

                .price-view{
                    display: flex;
                    flex-direction: column;
                    gap: var(--space-md);
                    margin-top: var(--space-md);

                    h1{
                        font-size: var(--font-size-md);
                        text-align: left;
                        color:var(--common-color);

                        em{
                            font-style: normal;
                            font-weight: bold;
                            font-size:inherit;
                            color: #000;
                        }
                    }
                    .price-progressbar{
                        width: 100%;
                        height: 8px;
                        background-color: #f0eded;
                        border-radius: 5px;
                        position: relative;

                        &::after{
                            content: '';
                            display: block;
                            width: 70%;
                            height: 100%;
                            background-color: var(--common-color);
                            border-radius: 5px;
                            position: absolute;
                            top: 0;
                        }

                    }
                    .price-input{
                        display: flex;
                        justify-content: space-between;
                        gap: var(--space-lg);

                        span{
                            font-size: var(--font-size-md);

                            input{
                                width: 100px;
                                padding: 0.85rem;
                                border: solid 1px #ccc;
                                border-radius: 3px;
                                font-size: var(--space-md);
                            }
                        }
                    }
                }
            }
            .color-checkers{
                display: flex;
                gap: var(--space-md);
                flex-wrap: wrap;
                margin: var(--space-xxl) 0;

                >input{ 
                    border:none;
                    border-radius:50%;

                    #red{
                        background-color: red;
                    }
                    #blue{
                        background-color: blue;
                    }
                    #black{
                        background-color: black;
                    }
                    #green{
                        background-color: green;
                    }
                    #white{
                        background-color: white;
                    }
                    #pink{
                        background-color: pink;
                    }
                    #orange{
                        background-color: orange;
                    }
                    #navy{
                        background-color: navy;
                    }
                }

            }
        }

    }       
}
 /*=====PRODUCT  RIGHT SECTION=====*/
.product-content-right{
    flex-basis: 75%;
    display: flex;
    flex-direction: column;
    position: relative;
    
    .product-right-nav{
        display: flex;
        justify-content: space-between;
        gap: var(--space-md);
        align-items: center;
        padding: 1rem 0;
        box-sizing: border-box;
        margin-bottom: 2rem;
        color: #000;
        background-color: #ffffff;

        h1{
            font-size: var(--font-size-xl);
            margin-left: var(--space-sm);
        }

        .displays{
            display: flex;
            justify-content: space-between;
            gap: var(--space-lg);

            i{
                font-size: var(--font-size-xl);
                color: var(--common-color) ;
            }
        }
        .sort{
            display: flex;
            justify-content: space-between;
            gap: var(--space-sm);
            color: var(--common-color);
            margin-right: var(--space-sm);
            align-items: center;

            p{
                font-size: var(--font-size-md);
            }
            select{
                width: 150px;
                background-color: #fefefe;
                padding: 0.75rem 0;
                border: solid var(--common-color) 1px ;
                border-radius: 2px;
                font-size: var(--font-size-md);

                option{
                    line-height: 1rem;
                    font-size: var(--font-size-md);
                }
            }
        }
    
    }
    .product-right-cards{
        width: 100%;
        display: grid;
        grid-template-columns:repeat(auto-fit, minmax(180px, 1fr));
        column-gap: var(--space-sm);
        row-gap: var(--space-xl);

        .right-card{
        height: auto;
        overflow: hidden;
        transition: all ease 0.3s;
        background: #ffffff;
        border-radius: 5px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.1);
        position: relative;
        
        .top-deals-header-content{
            position: absolute;
            top: 45%;
            left: 0.4rem;
            display: flex;
            justify-content: space-between;
            padding: 0.1rem 0;
            background-color: rgb(231, 229, 229);
            border: none;
            border-radius: 1rem;
            color: #010101;
            z-index: 2;
            width: 170px;
            
            h1{
                font-size: var(--font-size-xl);
                color: navy;
            }
            p
            li{
                font-size: var(--font-size-md);
                color: navy;
            }
            >div{
                text-align: center;
            }
        }

        .right-card-description{
            width: 90%;
            margin: 0  1rem;
            word-wrap: break-word;
                                   
           }
        }
        
    }
}