:root {
    --navbar-color: #283b97;
    --font-color: #fff;
    --tertiary-color: #16bcdc;
}
body {
    background-color: #f8f5f5;
    font-family: 'Poppins', sans-serif;

}
/* Utility classes */
.border-right:not(:last-child) {
    border-right: 1px solid rgba(255, 255, 255, 0.3) !important;
}

/* End of Utility classes */

::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: #f1f1f1;
    
}
::-webkit-scrollbar-thumb{
    background-color: #c1c1c1;
    
}
::-webkit-scrollbar-thumb:hover{
    background:#050505;
}
::-webkit-scrollbar-button{
    display:none;
}
* {
    font-family: 'Rubik', sans-serif;
    padding: 0;
    margin: 0;
    /* color: #333; */
}
*::before,*::after{
    box-sizing: border-box;
}

a,
li {
    text-decoration: none;
    list-style: none;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;

}

.topbar {
    background-color: var(--navbar-color);
    color: var(--font-color);
    font-size: 12px;
    padding: 5px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    .topbar-content {
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 6px 0;
        justify-content: space-between;

        .topbar-right__section {
            display: flex;
            align-items: center;
            /* gap: 15px; */

            .language-dropdown,
            .currency-dropdown {
                padding: 0 15px;

                select {
                    background: transparent;
                    border: none;
                    color: var(--font-color);
                    font-size: 12px;
                    cursor: pointer;
                    outline: none;
                }
            }

            .need-help {
                padding: 0 15px;
            }
        }

        .topbar-left__section {
            display: flex;
            align-items: center;
            font-size: 14px;

            li {
                padding: 0 20px;

                a {
                    color: var(--font-color);
                    transition: 0.3s;
                }
            }
        }
    }
}

.midbar {
    background-color: var(--navbar-color);

    .midbar-content {
        padding: 15px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .search-component {
            display: flex;
            align-items: center;
            gap: 15px;
            justify-content: center;
            background-color: white;
            border-radius: 4px;

            .categories-selector {
                padding: 10px 0;

                select.categories-dropdown {
                    background: white;
                    border: none;
                    font-size: 14px;
                    cursor: pointer;
                    outline: none;
                    padding: 5px 15px;
                    outline: none;
                    color: #333;
                    border: none;
                    border-radius: 4px 0 0 4px;
                }
            }


            .search-bar {
                position: relative;
                padding: 10px 0;
                display: flex;

                input.search-input {
                    padding: 5px 15px;
                    border: none;
                    outline: none;
                    width: 560px;
                    border-left: 1px solid #cccccc83 !important;
                }

                button.search-button {
                    background-color: var(--tertiary-color);
                    border: none;
                    color: white;
                    padding: 9px 15px;
                    cursor: pointer;
                    margin: auto 0;
                    border-radius: 4px;
                    transition: background-color 0.3s;
                    top: 50%;
                    transform: translateY(-50%);
                    position: absolute;
                    right: 5px;
                    font-size: 20px;

                    &:hover {
                        background-color: #ff3b2e;
                    }
                }
            }
        }

        .right-content {
            display: flex;
            align-items: center;
            gap: 20px;

            .action-icon {
                display: flex;
                align-items: center;
                gap: 15px;
                color: var(--font-color);
                font-size: 14px;
                cursor: pointer;
                transition: color 0.3s;
                position: relative;

                .badge {
                    position: absolute;
                    top: 0px;
                    left: 20px;
                    background-color: var(--tertiary-color);
                    color: white;
                    border-radius: 50%;
                    padding: 2px 6px;
                    font-size: 10px;
                }

                .icon {
                    font-size: 30px;
                }

                .action-text {
                    color: #ffffff65;
                    font-size: 13px;
                }

                .action-text-2 {
                    font-size: 14px;
                    font-weight: 500;
                }
            }
        }
    }
}

.bottom-bar {
    background-color: var(--navbar-color);
    color: var(--font-color);
    font-size: 14px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    

    .bottom-bar-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        padding: 10px 0;
        

   

        .nav-links {
            justify-content: space-between;
            align-items: center;
            color:white;
            display: flex; 
            width:55%;
            gap:40px;
            
        }

        .right-nav-link{
            display:flex;
            justify-content: space-between;
            gap:15px;
        }
        

        .nav-links li {
            position: relative; 
        }

        .left-nav-link > li > a, .right-nav-link > li > a {
            display: block;
            color: white;
            padding:3px;
            text-decoration: none;
            transition: background-color 0.3s;
            border-bottom: 3px solid transparent;
        }

        .left-nav-link > li > a:hover, .right-nav-link > li > a:hover {
             border-bottom: 2px solid #2980b9;
        }

        .left-nav-links > li > a.active-link ,.right-nav-link > li >a.active{
            background-color: #07609b;
            
        }

       
       }
       /*general dropdown*/

        .dropdown-menu {
            display: none; 
            position: absolute; 
            top: 40px; 
            left: 0;
            background-color: white; 
            box-shadow: 0 0 16px var(--tertiary-color);
            list-style: none;
            padding: 0;
            min-width: 400px; 
            z-index: 10; 
            border-radius: 0 0 5px 5px;
            overflow: hidden;
        }

        .dropdown-menu li {
            padding: 0;
        }

        .dropdown-menu a {
            display: block; 
            padding: 12px 16px;
            text-decoration: none;
            color: #000000;
            white-space: nowrap; 
            transition: background-color 0.2s;
        }

        .dropdown-menu a:hover {
            background-color: var(--tertiary-color);
        }

        
        .dropdown-show {
            display: block !important;
        }
/*botton down nav dropdown*/
        .menu-content-shop{
            background:#f1f1f1;
            box-shadow: 0 0 10px  var(--tertiary-color);
            border-radius:10px;
            display:flex;
            width:1000px;
            padding:10px;
            justify-content: space-between;
            
            
        }
        .menu-content-home{
            background:#f1f1f1;
            box-shadow: 0 0 10px  var(--tertiary-color);
            border-radius:10px;
            display:flex;
            width:600px;
            padding:10px;
            justify-content: space-around;
        }
        .menu-content-shop h1, .menu-content-home h1{
            font-size: medium;
            color:black;
            margin-bottom: 20px;
        }
        .menu-content-shop li>a{
            display: block;
            color: rgb(24, 22, 22);
            padding:3px;
            text-decoration: none;
            transition: background-color 0.3s;
            line-height:30px;
        }
        .menu-content-shop li>a:hover{
            background: var(--tertiary-color);
        }
        
        .menu-content-shop .shop-image button{
            margin-top:250px;
            margin-left:60px; 
            padding:10px;
            border-radius:10px;
            border:none;
            text-align:center;
        }
        


         .chevron-icon {
    transition: transform 0.3s ease;
}

.dropdown-parent.active .chevron-icon {
    transform: rotate(180deg);
}

            
            
            
        }
    

 
/*Hero section style*/
.main-content{
    min-height: 100vh;
    max-width: 1400px;
    width: 100%;
    margin:  0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
.hero-section {
  padding: 20px;
 
  margin-top:20px;
  border-radius: 12px;
  width: 100%;
  justify-content: space-between;
 

}

.hero-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 0 auto;
  gap: 20px;
  height: 390px;
  align-items: stretch;
 
}

/* Main Left Hero Banner */
.hero-main {
  position: relative;
  background-color: #ff9d00;
  padding: 40px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  margin: 0;
  justify-content: space-between;
}



.hero-main-description {
  max-width: 50%;
  color: #fff;
}

.hero-main-description h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.hero-main-description p {
  font-size: 16px;
  margin-bottom: 20px;
}

.hero-btn {
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.hero-btn:hover {
  background-color: #222;
}

/* Right Side Items */
.hero-side {
  display: grid;
  grid-template-columns: 300px 300px;
  gap: 15px;
}

.hero-side-items {
  
  border-radius: 12px;
  padding: 15px;

  gap: 12px;
  transition: 0.3s ease;
  cursor: pointer;
}

.hero-side-items:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.hero-side-description{
 margin-top:60px;
}

.hero-side-description h1 {
  font-size: 16px;
  font-weight: 600;
  color: #f7f4f4;
  
}

.hero-side-description p {
  font-size: 13px;
  color: #faf7f7;
}
/*Trending products*/
.trending-product-section {
  margin-top:40px;
  width: 100%;
  align-items: center;
  justify-content: center;
  

}
.trending-products-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 50px;
    text-align: center;
    align-items: center;
    
   
    
  }
.trending-products-header h2{
    font-size: 20px;
    font-weight: 500;
    color: #333;
    position: relative;
}
.trending-products-header h2::after{
    content: '';
    display: block;
    width: 300px;
    height: 3px;
    background-color: var(--tertiary-color);
    position: absolute;
    top: 35px;
    border-radius: 2px;
}
.trending-products-header a{
    font-size: 14px;
    color: var(--tertiary-color);
    font-weight: 500;
    transition: color 0.3s;
}


.trending-product{
   display: flex;
   flex-wrap: wrap;
    gap: 23px;
    overflow-x: hidden;
    padding-bottom: 10px;
    align-items:  center;
    justify-content: center;
    

}
.trending-product-card{
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 180px;
    height: 380px;
    flex: 0 0 auto;
    scroll-snap-align: start;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    justify-items: center;
    align-items: center;
    text-align: left;
    
}
.trending-product-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
}
.trending-product-card .trending-product-card img{
    height: 50px;
    width:  50px;
    object-fit: contain;
    border-radius: 12px 12px 0 0;
    background-color: #f9f9f9;
    margin-top: 40px;
}
.trending-product-description{
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    gap: 8px;
    width: 100%;
    height: 150px;
    overflow: hidden;
    padding-bottom: 10px;
    box-sizing: border-box;
    position: relative;

}
.product-title {
    font-size: 14px;
    font-weight: 500;
    color: var(--navbar-color);
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.product-rating  {
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: -5px;

}
.product-rating i {
    color: #f1c40f;
    font-size: 14px;    

}
.product-rating span{
    color: #777;
    font-size: 12px;
    margin-top: 2px;
 
}
.product-price {
    font-size: 16px;
    font-weight: 600;
    color: #050505;
    margin-top: 5px;
}
